In [1]:
#import library 
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/yanggao/Desktop/DAbootcamp/Python_Fundamentals_for_Data_Analysts_Achievement_4/Instacart_Basket_Analysis'

In [4]:
#import products.csv data
df_prods=pd.read_csv(os.path.join(path, '02_Data', 'Original_Data', 'products.csv'), index_col = False)

In [5]:
#import orderswrangled.csv data
df_ords_wrangled =pd.read_csv(os.path.join(path, '02_Data', 'Prepared_Data', 'orders2_wrangled.csv'), index_col = False)

In [6]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [8]:
df_nan = df_prods[df_prods['product_name'].isnull()== True]

In [9]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [12]:
df_prods_clean = df_prods[df_prods['product_name'].isnull()== False]

In [13]:
df_prods_clean.shape

(49677, 5)

In [14]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [15]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [16]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [17]:
df_prods_clean_no_dups.shape

(49672, 5)

In [20]:
## Assignment 4.5

In [21]:
#2.Run the df.describe() function on your df_prods dataframe, share in a markdown cell whether anything about the data looks off or should be investigated further.
df_prods_clean_no_dups.describe()

         product_id      aisle_id  department_id        prices
count  49672.000000  49672.000000   49672.000000  49672.000000
mean   24850.349775     67.762442      11.728942      9.993282
std    14340.705287     38.315784       5.850779    453.615536
min        1.000000      1.000000       1.000000      1.000000
25%    12432.750000     35.000000       7.000000      4.100000
50%    24850.500000     69.000000      13.000000      7.100000
75%    37268.250000    100.000000      17.000000     11.100000
max    49688.000000    134.000000      21.000000  99999.000000

In [22]:
## all the numbers good consistent and good to me, not too high nor negative number here, expect for the hightest price which is $99,999, it must be something very expensive, and if I need to imput a missing number in the prices column, i probably would use the median rather than mean, since this is an obvious outlier

In [24]:
#3. Check for mixed-type data in your df_ords dataframe.
for col in df_ords_wrangled.columns.tolist():
    weird = (df_ords_wrangled[[col]].applymap(type)!= df_ords_wrangled[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords_wrangled[weird])>0 :
        print (col)

In [25]:
##there is no mixed-type data in df_ords dataframe

In [26]:
#5 Run a check for missing values in your df_ords dataframe.
df_ords_wrangled.isnull().sum()

Unnamed: 0                     0
order_id                       0
customer_id                    0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [27]:
df_ords_wrangled.shape

(3421083, 7)

In [28]:
## there are 206,209 observations out of 3,421,083 in the days_since_prior_order column, one possible reasons for the missing data is probably those customers just make one order by the time the data was collected.

In [29]:
#6 Address the missing values using an appropriate method
#I probably would creat a new variable that act like a flage based on the missing value. My reasons are as follows: 1) 206,209 is a lots of observations, which counts 1/15 of the entire observations, just delete them did not make sense. 2) and for the most important the reason, I beleieve these missing data is as important as non-missing data, this data shows that how many customers just ordered via our platform for one time and never came back, this is data can help us to better understanding our platform's customer satisfication.

In [30]:
#7 Run a check for duplicate values in your df_ords data
df_ords_dups = df_ords_wrangled[df_ords_wrangled.duplicated()]

In [31]:
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, customer_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [32]:
##there is no duplicated values in df_ords data

In [35]:
df_ords_wrangled.to_csv(os.path.join(path, '02_Data','Prepared_data', 'orders_checked.csv'))

In [34]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02_Data','Prepared_data', 'products_checked.csv'))