In [1]:
##Assignment 4.6

In [2]:
#import library
import pandas as pd
import numpy as np
import os

In [3]:
#set path 
path = r'/Users/yanggao/Desktop/DAbootcamp/Python_Fundamentals_for_Data_Analysts_Achievement_4/Instacart_Basket_Analysis'

In [4]:
#3 import orders_products_combined dataframe
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02_Data', 'Prepared_data', 'orders_products_combined.pkl'))

In [5]:
#check the shape of the imported dataframe
df_orders_products_combined.shape

(32640698, 12)

In [7]:
df_orders_products_combined.columns

Index(['order_id', 'customer_id', 'order_number', 'order_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'user_id',
       'orders_day_of_week', 'product_id', 'add_to_cart_order', 'reordered',
       '_merge'],
      dtype='object')

In [8]:
#import products data frames 
df_prdocuts_cleaned=pd.read_csv(os.path.join(path, '02_Data', 'Prepared_data', 'products_checked.csv'), index_col = 0)

In [9]:
df_prdocuts_cleaned.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [10]:
#5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set

In [11]:
## change data type

In [12]:
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   customer_id             int64
 2   order_number            int8
 3   order_day_of_week       int64
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   user_id                 int32
 7   orders_day_of_week      int8
 8   product_id              float64
 9   add_to_cart_order       float64
 10  reordered               float64
 11  _merge                  category
dtypes: category(1), float16(1), float64(3), int32(2), int64(2), int8(3)
memory usage: 1.9 GB

In [15]:
df_orders_products_combined.head()

,order_id,customer_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,user_id,orders_day_of_week,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,1,2,196.0,1.0,0.0,both
1,2539329,1,1,2,8,NaN,1,2,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,NaN,1,2,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,NaN,1,2,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,NaN,1,2,26405.0,5.0,0.0,both

In [16]:
df_orders_products_combined.drop(columns={'user_id', 'orders_day_of_week'}, inplace=True)

In [17]:
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   customer_id             int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              float64
 7   add_to_cart_order       float64
 8   reordered               float64
 9   _merge                  category
dtypes: category(1), float16(1), float64(3), int32(2), int8(3)
memory usage: 1.4 GB

In [22]:
df_orders_products_combined['order_id']=df_orders_products_combined['order_id'].astype('int32')
df_orders_products_combined['customer_id'] = df_orders_products_combined['customer_id'].astype('int32')
df_orders_products_combined['order_number']=df_orders_products_combined['order_number'].astype('int8')
df_orders_products_combined['order_day_of_week']=df_orders_products_combined['order_day_of_week'].astype('int8')
df_orders_products_combined['order_time_of_day']=df_orders_products_combined['order_time_of_day'].astype('int8')
df_orders_products_combined['days_since_prior_order']=df_orders_products_combined['days_since_prior_order'].astype('float16')
df_orders_products_combined['product_id'] =df_orders_products_combined['product_id'].astype('float16')
df_orders_products_combined['reordered']=df_orders_products_combined['reordered'].astype('float16')
df_orders_products_combined['add_to_cart_order']=df_orders_products_combined['add_to_cart_order'].astype('float16')

In [23]:
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32640698 entries, 0 to 32640697
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   customer_id             int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              float16
 7   add_to_cart_order       float16
 8   reordered               float16
 9   _merge                  category
dtypes: category(1), float16(4), int32(2), int8(3)
memory usage: 871.6 MB

In [24]:
df_prdocuts_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 2.3+ MB

In [25]:
df_prdocuts_cleaned['product_id']=df_prdocuts_cleaned['product_id'].astype('int32')
df_prdocuts_cleaned['aisle_id']=df_prdocuts_cleaned['aisle_id'].astype('int32')
df_prdocuts_cleaned['department_id']=df_prdocuts_cleaned['department_id'].astype('int32')
df_prdocuts_cleaned['prices']=df_prdocuts_cleaned['prices'].astype('float16')

In [26]:
df_prdocuts_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int32
 3   department_id  49672 non-null  int32
 4   prices         49672 non-null  float16
dtypes: float16(1), int32(3), object(1)
memory usage: 1.4+ MB

In [27]:
##since we have common column and for the two dataframes, the number of columns are not the same, so we'll use the merge()function, and the common column is product_id

In [32]:
df_ords_prods_merge = df_orders_products_combined.merge(df_prdocuts_cleaned, on = 'product_id')

In [33]:
df_ords_prods_merge.head()

,order_id,customer_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,both,Soda,77,7,9.0

In [34]:
df_ords_prods_merge['_merge'].value_counts()

both          32312456
left_only            0
right_only           0
Name: _merge, dtype: int64

In [35]:
df_ords_prods_merge.to_pickle(os.path.join(path,'02_Data', 'Prepared_data', 'ords_prods_merged.pkl'))